:root {
  /* variables */
  --cg-black: rgb(30, 32, 32);
  --cg-blue: rgb(36, 94, 255);
  --cg-grey: rgb(243, 243, 243);
  --cg-white: rgb(255, 255, 255);
}

html {
  height: 100%;
}

body {
  background-color: #F9F1E8;
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: Georgia;
}

/* CSS for navigation */

.navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 7%;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  background-color: rgb(137, 5, 53);
  color: var(--cg-white);
  padding: 0px 0px;

  /* Debug border */
  /* border: solid red; */
}

.nav-list {
  display: flex;
  flex-direction: row;
  position: relative;
  right: 30px;
  list-style: none;

  /* Debug border */
  /* border: solid blue; */
}

.navbar a {
  color: var(--cg-white);
  font-weight: bold;
  margin: 0 12px;
  text-decoration: none;
  letter-spacing: 2px;

  font-family: Georgia
}

.navbar a:hover {
  color: rgb(125, 62, 108);
  padding: 3px 5px;
  background-color: antiquewhite;
  border-radius: 5px;
}

.navbar a:active {
  color: rgb(147, 103, 116);
}

.logo a {
  font-family: Georgia;
}

.logo a:hover {
  text-decoration: None;
}

p {
  font-size: 16px;
  color: #574144
}

ul {
  font-size: 16px;
  color: #574144
}

h2 {
  font-size: 30px;
}

main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-title {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-family: Georgia;
  color: rgb(137, 5, 53);
}

/* CSS for portfolio grid */

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 80px;
  justify-content: center;
  flex-wrap: wrap; 
  padding: 40px;
  
}

.project-card {
  background-color: F9F1E8;
  border: 5px solid rgb(137, 5, 53);
  border-radius: 10px;
  width: 500px; /* card width */
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}

.project-name {
  color:#BF7E81
}

.project-images img {
  width: 100%;
  aspect-ratio: 3 / 2; /* maintains shape */
  object-fit: cover;
  border-radius: 20px;
  transition: width 0.4s ease, height 0.4s ease;
  cursor: pointer;
}

/* On hover, increase width/height */
.project-images img:hover {
  transform: scale(1.05); /* grow 5% bigger from center */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* optional depth */
  transition: width 1s ease, height 1s ease;
  z-index: 1; 
}

/* CSS for home page */

.about-image-wrapper { 
    width: 300px;
    height: 300px;
    border-radius: 100%; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-self: center;
} 

.about-image { 
    width: 100%; 
    height: 110%; 
    object-fit: cover;
}

.about-text {
  text-align: center;
  flex: 1;
  margin-left: 20px;
  margin-top: 20px
}

.about-text h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(137, 5, 53)
}

.about-text p {
  font-size: 20px;
  line-height: 1.5;
}

/* CSS for resume page */

.button {
  background-color: rgb(137, 5, 53);
  border: none;
  color: var(--cg-white);

  font-family: Georgia;
  font-size: 15px;

  padding: 7px 10px;
  text-align: center;

  border-radius: 5px;
}

.button:hover {
  background-color: rgb(147, 103, 116);
}

.resume {
  font-family: Georgia;
}

.resume {
  margin-left: 70px;
  margin-right: 70px;
  margin-bottom: 70px;
}

.resume h1 {
  color:  #BF7E81
}

.entry-title {
  color: #574144

}

/* CSS for contact form */

label {
  display: block;
  margin-bottom: 8px;
  font-family: Georgia;
  font-weight: bold;
  color: #BF7E81
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
  font-family: Georgia;
}

/* Add some spacing to the form */
form {
  width: 500px;
  margin: 0 auto;
}

/* CSS for footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(137, 5, 53);
  color: var(--cg-white);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-family: Georgia;
}
